.header-title {
    color: #466afc !important;
    font-size: 32px;
}

.header-users-count, .header-messages-count, .header-last-message-date {
    font-size: 16px;
    font-weight: 300;
    color: #1a1a1a !important;
}

.header-messages-count {
    margin-left: 12px;
}