.message-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.message-input-text {
    height: 2.5rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.message-input-text:focus {
    box-shadow: none;
}

.message-input-button {
    height: 2.5rem;
    width: 8rem;
    background-color: #466afc;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.message-input-button:hover {
    background-color: #2750ff;
}

.message-input-button:focus {
    box-shadow: none;
}

.warning::placeholder {
    color: #ea6a6a;
    font-weight: 200;
}