.message {
    width: max-content;
    min-width: 30%;
    max-width: 50%;
    border: none;
    background-color: #ffffff;
    transition: box-shadow 0.3s;
}

.message:hover,
.own-message:hover {
    box-shadow: 0 0 9px rgba(106, 106, 106, 0.2);
}

.message-text {
    font-size: 16px;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.message-time {
    position: absolute;
    right: 1.5rem;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 300;
}

.message-metadata {
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.message-like {
    font-size: 14px;
    background-color: #fff;
    border: none;
    color: #262626;
}

.message-user-name {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
}

.message-user-avatar {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.own-message {
    position: relative;
    width: max-content;
    border: none;
    min-width: 45%;
    max-width: 45%;
    right: -55%;
    background-color: #fffef8;
}

.own-message-edit-status {
    font-size: 14px;
    font-weight: 300;
}

.message-edit {
    font-size: 14px;
    background-color: #fffef8;
    border: none;
    color: #262626;
}

.message-delete {
    font-size: 14px;
    background-color: #fffef8;
    border: none;
    color: #262626;
}

.message-edit:hover {
    color: #635b5b;
}

.message-delete:hover {
    color: #635b5b;
}

.like {
    color: #c71b1b;
}

.message-like:hover {
    color: #d43a3a;
}